
{{vm.car.make}}
{{vm.car.model}}
<div data-ng-controller="showController as vm">
  <div ng-repeat="photo in vm.car.photos">
    <img src="{{photo.photoUrl}}" alt="{{photo.year}}" />
    {{photo.year}}
  </div>
  </div>


 <form ng-submit="vm.create()">
   <input type="text" ng-model="vm.newPhoto.photoUrl" placeholder="photoUrl" />
   <input type="text" ng-model="vm.newPhoto.color" placeholder="color" />
   <input type="number" ng-model="vm.newPhoto.year" placeholder="year" />
   <input type="number" ng-model="vm.newPhoto.car_id" placeholder="{{vm.car.photos[0].car_id}}" />
   <button type="submit">submit new photo</button>
 </form>
