
{{vm.car.make}}
{{vm.car.model}}

<div data-ng-controller="showController as vm">
  <div ng-repeat="photo in vm.car.photos">
    <img src="{{photo.photoUrl}}" alt="{{photo.year}}" />
    {{photo.year}}
    <button ng-click="vm.destroy(photo)">
  </div>
  </div>


 <form ng-submit="vm.create()">
   <input type="text" ng-model="vm.newPhoto.photoUrl" placeholder="photoUrl" />
   <input type="text" ng-model="vm.newPhoto.color" placeholder="color" />
   <input type="number" ng-model="vm.newPhoto.year" placeholder="year" />
   <input type="text" ng-model="vm.newPhoto.car_id" placeholder="{{vm.car.id}}" />
   <button type="submit">submit new photo</button>
 </form>
 <button ng-click="vm.destroyCar()" name="delete this car">delete this car</button>

 <div>
   <input type="text" ng-model="vm.photo.photoUrl" placeholder="photoUrl" />
   <input type="text" ng-model="vm.photo.color" placeholder="color" />
   <input type="number" ng-model="vm.photo.year" placeholder="year" />
   <input type="text" ng-model="vm.photo.car_id" placeholder="{{vm.car.id}}" />
   <button ng-click="vm.update()">edit</button>
 </div>
