


.parent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}

img {
  width: 300px;
  height: 300px;
}

.child {
  max-width: 350px;
  max-height: 300px;

}



body {

  padding-top: 70px;

}

.hide {
  display: none;
}
