

h1 {
  text-align: center;
}

.carousel-caption > h3 {
  color: white;
  text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
}

.carousel-caption {
  margin-bottom: -30px;
}

.blacktext {
  color: black;
}

img {
  height: 100%;
  width: 100%;
}
/*.navbar-right {
  display: inline-block;
}
.form-group {
  display: inline-block;
}*/
/* ------Index-------*/

nav {
  display: block;
}

@media (max-width: 767px) {
  .parent {
    margin-top: 250px;
  }
}

@media (min-width: 768px) {
  .parent {
    margin-top: 50px;
  }
}


  button {
	-moz-box-shadow: 0px 10px 14px -7px #3e7327;
	-webkit-box-shadow: 0px 10px 14px -7px #3e7327;
	box-shadow: 0px 10px 14px -7px #3e7327;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77b55a), color-stop(1, #72b352));
	background:-moz-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:-webkit-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:-o-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:-ms-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77b55a', endColorstr='#72b352',GradientType=0);
	background-color:#77b55a;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #4b8f29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #5b8a3c;
}
button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #72b352), color-stop(1, #77b55a));
	background:-moz-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-webkit-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-o-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-ms-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#72b352', endColorstr='#77b55a',GradientType=0);
	background-color:#72b352;
}
button:active {
	position:relative;
	top:1px;
}

/*.edit-form {
  margin-top: 50px;

}*/

.imgDescription {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(120,120,120,0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container {
  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container > .shablam {
    position:relative;
    z-index:0;
}
.overlay {
    position:absolute;
    top:0;
    left:0;
    z-index:1;
    margin-top: 350px;
    margin-left: 550px;
}

.overlay button {
  background: rgba(120,120,120,0.72);
  box-shadow: 0px 1px 1px -1px gray;
  font-size: 36px;
  border-radius:4px;
	border:1px solid gray;
  text-shadow:0px 1px 0px black;
}

.parent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.welcomeVid {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/*.welcomeBtn {
  z-index: 1;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -500px;
}*/

.child {
  width: 33.33%;
  height: auto;
  position: relative;

}

.child:hover .imgDescription {
  visibility: visible;
  opacity: 1;
}
/* ------Show-------*/
#showCarousel > .carousel-inner {
  height: 400px;

}

#showCarousel > .carousel-inner > .item > img {
  height: 400px;
  width: 600px;
  margin: 0 auto;
}
/* ------Welcome---*/
#carCarousel > .carousel-inner > .item > img {
  height: 500px;
  width: 750px;
  margin: 0 auto;
}

#carCarousel > .carousel-inner {
  height: 500px;
}

#carCarousel >.carousel-indicators {
  padding-bottom: 15px;
}

.carousel-indicators li {
  display: inline-block;
  width: 48px;
  height: 48px;
  margin: 10px;
  text-indent: 0;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background-color: #0000ff;
  box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);
}

.carousel-indicators .active {
  width: 48px;
  height: 48px;
  margin: 10px;
  background-color: #ffff99;
}
/*-----------*/
.hide {
  display: none;
}
