h1 {
  text-align: center;
}

.parent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.child {
  max-width: 350px;
  max-height: 300px;
}

.carousel-inner > .item > img {
  height: 500px;
  width: 750px;
  margin: 0 auto;
  /*border: 3px solid black;*/
}

.carousel-inner {
  height: 500px;
}

.carousel-indicators {
  padding-bottom: 10px;
}

.parentShow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.childShow {
  max-width: 500px;
  max-height: 500px;
}

body {
  padding-top: 50px;

}

.hide {
  display: none;
}
